{% extends "index.html" %}
{% block cartas %}
	<div class="cartas">
		<div class="centrar">
			<h1><strong>Cartas Pokemon</strong></h1>
			<br/>
			<form action="/pokemontcg/filtro" method='POST'>
			<p>Filtro: <input type="text" name="Carta" autofocus required/></p>
			<input type="submit" value="Enviar"/>
			</form>	
		</div>		
		<div>
		{% for dato in listaimagenes %}
			<div>					
				<a href={{dato}}><img src={{dato}} width="160" height="240" alt=""/></a>			
			</div>				
		{% endfor %}
		</div>
		<div class="centrar">
		{% if id==1 %}	
		<a href="/pokemontcg/{{id+1}}"><button>Siguiente</button></a>
		{% elif id > 1 and id < 233 %}
		<a href="/pokemontcg/{{id-1}}"><button>Anterior</button></a>
		<a href="/pokemontcg/{{id+1}}"><button>Siguiente</button></a>
		{% else %}
		<a href="/pokemontcg/{{id-1}}"><button>Anterior</button></a>
		{% endif %}
		</div>	
	</div>
{% endblock %}
